<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>based | index of games</title>
</head>
<body>

	<!-- bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- Main CSS -->
	<link rel="stylesheet" href="../public/styles/main.css">

	<!-- Main JS -->
	<script defer src="/scripts/reviewEdit.js"></script>

	
</body>

	<!-- navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-warning">
	  <a class="navbar-brand" href="#">Based</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="/games">Games</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Index</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/about">About</a>
	      </li>
	    </ul>
	    <!-- <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form> -->
	  </div>
	</nav>

	<!-- main -->
	<main>
		 <section class="container mb-5">
      <form id="editReview" class="row">
        <div class="col-md-6 offset-md-3">
          <h2 class="mb-4">Edit Review</h2>
          <div class="form-group">
            <label for="title">Title</label>
            <input id="title" type="text" name="title" class="form-control form-control-lg" />
          </div>
          <div class="form-group">
            <label for="content">Content</label>
            <textarea id="content" name="content" class="form-control form-control-lg" rows="10"></textarea>
          </div>
          <button type="submit" class="btn btn-primary float-right">Save</button>
        </div>
      </form>
    </section>

	</main>
	<!-- footer -->
	

</html>