body {
	font-family: 'Roboto Slab', serif;
}

.nav-link {
	font-weight: bold;
	border-style: thin solid white;
}

.navbar {
	margin-bottom: 5vh;
}

footer p, footer a {
	display: inline;
	align-items: center;
}

#tagline p, #tagline a {
	display: inline;
}

#tagline a {
	color: black;
	font-weight: normal;
}

#cc {
	margin-top: 10vh;
	max-height: 50vh;
}

#profiles {
	margin-top: 12vh;
}

#signup {
	margin-top: 15vh;
}

.card-image-top {
	max-width: 10vw;
}